<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Address:</b>
  <%=h @person.address %>
</p>

<p>
  <b>City:</b>
  <%=h @person.city %>
</p>

<p>
  <b>State:</b>
  <%=h @person.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @person.zip %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>


<%= link_to 'Prayer Requests', prayer_request_path(@person.id) %>
